xsl/xml/facturationtransfert.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2023 rel. 2 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="facture">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="prixAvgArticle"/>
				<xs:element ref="ligneAvg"/>
				<xs:element ref="nbLignes"/>
			</xs:sequence>
			<xs:attribute name="idfacture" use="required"/>
			<xs:attribute name="nomClient" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="factures">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="facture" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ligneAvg">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="nbLignes">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="prixAvgArticle">
		<xs:complexType mixed="true"/>
	</xs:element>
</xs:schema>